{% extends "logged.html" %}
{% block name %}<h1>Welcome {{name[1]}}</h1> {% endblock %}
{% block table %}

<table class="table table-striped">
    <tr>
        <th>Criminal ID</th>
        <th>Name</th>
        <th>Sentence</th>
        <th>DOB</th>
        <th>Date of Indictment</th>
        <th>Incarcerated At</th>
        <th>Date of Release</th>
    </tr>    
    {% for pae in paes %}
    <tr>
        <td>{{pae[0]}}</td>
        <td>{{pae[1]}}</td>
        <td>{{pae[2]}}</td>
        <td>{{pae[3]}}</td>
        <td>{{pae[4]}}</td>
        <td>{{pae[5]}}</td>
        <td>{{pae[6]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}