{% extends "login.html" %}
{% block content %}
{% block name %}{%endblock%}
<div class="container">
    <div class="row">
        <div class="col-lg-3" id="wrap">
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="http://127.0.0.1:5000/dashboard"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="http://127.0.0.1:5000/crime" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Crime</span>
        </a>
        <a href="http://127.0.0.1:5000/criminals" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Criminals</span></a
        >
        <a href="http://127.0.0.1:5000/victims" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-chart-line fa-fw me-3"></i><span>Victims</span></a
      >
      <a href="http://127.0.0.1:5000/crimeVictims" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-chart-line fa-fw me-3"></i><span>Victims and Crimes</span></a
      >
      <a href="http://127.0.0.1:5000/crimeCriminals" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-chart-line fa-fw me-3"></i><span>Criminals and Crimes</span></a
      >
        <a href="http://127.0.0.1:5000/fir" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-line fa-fw me-3"></i><span>FIRs</span></a
        >
        <a href="http://127.0.0.1:5000/courts" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Courts</span></a>
        <a href="http://127.0.0.1:5000/prisons" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Prisons</span>
        </a>
        <a href="http://127.0.0.1:5000/cops" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Police Officers</span></a
        >
        <a href="http://127.0.0.1:5000/login" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Logout</span></a
        >
      </div>
    </div>
  </nav>
        </div>
        <div class="col-lg-9">
            {% block table %}{% endblock %}
    </div>
    </div>

</div>


{% endblock %}