{% extends "login.html" %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center h-100">

    <img class="bound" src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Asia/India/Mumbai/gateway-of-india-mumbai-xlarge.jpg">
</div>
<div>
    We are Mumbai's finest and will ensure the Rule of Law, enforce the law of the land impartially and firmly without fear or favour, and strive to create a fear free environment that is conducive to growth and development.

    Mumbai Police will remain committed to maintaining public order, preventing and detecting crime, maintaining and promoting communal harmony, ensuring a smooth flow of traffic, and taking strong action against terrorism, organized crime, anti-social / illicit activities / elements.
</div>
<img class="imgur" src="https://english.cdn.zeenews.com/sites/default/files/2017/06/30/606358-cst-mumbai-1.jpg">
{% endblock %}